# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env
.venv/

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# Build / packaging
# -------------------------
build/
dist/
*.egg-info/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Cache
# -------------------------
.pytest_cache/
.mypy_cache/

# -------------------------
# Temporary
# -------------------------
*.tmp
*.swp
